
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    text-align: center;
}


.navbar {
    background: black;
    padding: 15px 0;
}

.logo {
    color: rgb(1, 54, 76);
    font-size: 22px;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    float: right;
    display:flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
}

.nav-links a:hover {
    color: rgb(56, 189, 248);
}

.hero {
    background: rgb(1, 54, 76);
    color: white;
    padding: 90px 20;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}
.btn {
    background: rgb(3,68,96) ;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
}

.btn:hover {
    background: rgb(56, 189, 248);
}


.features {
    padding: 70px 0;
    text-align: center;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.feature-box {
    display: inline-block;
    background: white;
    width: 260px;
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    border: 2px solid rgb(3, 68, 96);
}

.feature-box h3 {
    margin-bottom: 10px;
    color: black;
}

.account{
    background: rgb(1, 54, 76);
    color: white;
    padding: 70px 0;
    text-align: center;
}

.account h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    background: black;
    color: #9ca3af;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
}
.container{
    text-align: center;
    background:
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        /* align-items:center; */
    }
}
@media (max-width: 480px){
    .hero{
        padding: 60px 15px;
    } 
.hero p{
    font-size: 16px;
   }
}
